.color {}

.color-default { color: black; }
.color-primary { color: black; }
.color-success { color: #47a447; }
.color-info { color: #428bca; }
.color-warning { color: #f0ad4e; }
.color-danger { color: #d9534f; }

.color-black { color: black; }
.color-white { color: white; }

.background-color-success { background-color: #47a447; }
.background-color-info { background-color: #428bca; }
.background-color-warning { background-color: #f0ad4e; }
.background-color-danger { background-color: #d9534f; }
.background-color-black { background-color: black; }
.background-color-white { background-color: white; }
