.color {}

.color-default { color: black; }
.color-primary { color: black; }
.color-success { color: #47a447; }
.color-info { color: #428bca; }
.color-success { color: #f0ad4e; }
.color-danger { color: #d9534f; }

.color-black { color: black; }
.color-white { color: white; }
